.shop-container{
    margin-top: 92px;
}
.cart-btn {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.btn-top{
    margin-bottom: 15px;
}
.cart-container {
    background-color: rgb(241, 232, 232);
    position: fixed;
    top: 56px;
    right: 0px;
    border-radius: 10px;
}