.cart-items-area{
    margin-bottom: 7px;
}
.cart-image{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(204, 198, 198);
    border-radius: 50px;
    align-items: center;
}
.cart-items-area img{
    border-radius: 50px;
    padding: 3px;
}
.cart-text{
    margin: 0 8px;
}
.cart-items-area span li{
    list-style: none;
}
.icon{
    font-size: 18px;
    color: rgb(204, 198, 198);
}